styles.ticket-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .ticket {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
  }

  .ticket img {
    width: auto;
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: contain;
  }

  .buy-now-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
  }

  .more-info {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }

  .ticket:hover .more-info {
    display: block;
  }